@import "http://www.sbs.ch/pipeline/modules/braille/default.scss";

table {
	
	@extend %table-reset;
	
	display: table;
	-obfl-table-col-spacing: 2;
	
	th {
		border-bottom: ⠒;
	}
	
	caption{
		display: block;
		margin-bottom: 1;
	}
}
