/***************************************************************************************
 * SBS Default CSS								       *
 * http://www.sbs.ch/								       *
 * 										       *
 * Author: Mischa Kuenzle <mischa.kuenzle@sbs.ch>				       *
 * Author: Christian Egli <christian.egli@sbs.ch>				       *
 * Author: Bert Frees <bertfrees@gmail.com>					       *
 * 										       *
 * See also Braille CSS: http://snaekobbi.github.io/braille-css-spec/master/index.html *
 ***************************************************************************************/

/* General rules */

/* Namespaces */

@namespace brl url(http://www.daisy.org/z3986/2009/braille/);

/* Page layout
 *
 * A page contains 28 columns by 28 rows of braille (configurable with
 * options, defaults in script). */

// FIXME: move defaults from CSS to script
@page {
    size: 28 28;
}

@page frontmatter:right {
    margin-bottom: 1;
    @bottom-center {
	content: string(running-footer);
    }
}

@page bodymatter:right {
    margin-bottom: 1;
    @bottom-left {
	content: "⠸" string(print-page);
	/* change to the following when string() supports it: */
	/* content: "_" string(print-page, start-spread) "/" string(print-page, last-on-spread); */
	/* this translates _x/ (single print page) as _x and _x/y (range) as a fraction: */
	/* text-transform: print-page; */
    }
    @bottom-center {
	content: string(running-footer);
    }
    @bottom-right {
	content: counter(page);
    }
}

dtbook {
    hyphens: auto;
}

/* Hidden elements
 *
 * These are not directly incldued in the output. */

head {
    display: none;
}

doctitle {
    display: none;
    string-set: doctitle content();
}

docauthor {
    display: none;
    string-set: docauthor content();
}


/* Headings */

h1 {
    display: block;
    text-align: center;
    margin-left: 4;
    margin-right: 4;
    margin-top: 1;
    border-bottom: ⠤;
    margin-bottom: 1;
    page-break-after: avoid;
    string-set: running-footer content();
}

h2 {
    display: block;
    margin-right: 4;
    text-align: left;
    border-bottom: ⠒;
    page-break-after: avoid;
    string-set: running-footer content();
}

h3 {
    display: block;
    margin-right: 4;
    text-align: left;
    border-bottom: ⠂;
    page-break-after: avoid;
    string-set: running-footer content();
}

h4, h5, h6 {
    display: block;
    margin-right: 4;
    text-align: left;
    page-break-after: avoid;
    string-set: running-footer content();
}

hd, bridgehead {
    display: block;
    margin-right: 4;
    text-align: left;
    margin-top: 1;
    page-break-after: avoid;
}

/* Divisions */

level1 {
    display: block;
    page-break-before:right;
}

level2 {
    display:block;
    margin-top:2;
    orphans:10;
}

level3 {
    display:block;
    margin-top:1;
    orphans:7;
}

level4, level5, level6 {
    display:block;
    margin-top:1;
    orphans:4;
}

/* Front matter, body matter and rear matter
 *
 * These elements always start on a new page. The print page number is
 * reset on the start of these elements.
 *
 * If any of these consist of only content that is not rendered, then
 * that element as a whole is not rendered. */

frontmatter, bodymatter, rearmatter {
    display: block;
}

frontmatter {
    page: frontmatter;
}

frontmatter level2 {
    display: block;
    margin-top:1;
    orphans:4;
}

frontmatter > level1 {
    string-set: running-footer "Klappentexte";
}

frontmatter > .titlepage {
    display: block;
    string-set: running-footer "";
}

frontmatter > .titlepage > level2:nth-child(1) > p {
    display: block;
    text-align:center;
}

frontmatter > .titlepage > level2:nth-child(2) > p {
    display: block;
    margin-left:2;
    text-indent:-2;
}

.sourcePublisher {
    display: block;
    text-align:center;
    -obfl-vertical-position:27;
    page-break-after:always;
}

frontmatter > .titlepage > level2:nth-child(1)::before {
    display: block;
    text-align:center;
    white-space: pre-line;
    margin-top:5;
    margin-bottom:1;
    margin-left:4;
    margin-right:4;
    border-bottom: ⠤;
    content:string(docauthor) "\A\A\A" string(doctitle);
}

bodymatter {
    page: bodymatter;
    counter-set: page 1;
}

/* Paragraphs
 *
 * A paragraph is a block element with no special features. */

p {
    display: block;
    text-indent: 2;
}

/* Preceding empty line
 *
 * Adds a blank line before the element. */

.precedingemptyline {
    margin-top: 1;
}

.noindent {
    text-indent: 0;
}

.precedingseparator::before {
    display: block;
    text-indent: 0;
    text-align: center;
    content:"⠒⠒⠒⠒⠒⠒";
    margin-top: 1;
    margin-bottom: 1;
}

pagenum {
    display: none;
    string-set: print-page content();
}

blockquote {
    margin-top:1;
    margin-bottom:1;
    margin-left:2;
}

poem {
    display: block;
    margin-top:1;
    margin-bottom:1;
    margin-left:2;
}

linegroup {
	display: block;
}

linegroup + linegroup {
    margin-top:1;
    display: block;
}

line {
    display: block;
    margin-left:2;
    text-indent:-2;
    page-break-inside: avoid;
}

author, byline {
    display: block;
    text-align: right;
}

table{
    display:block;
    margin-top:1;
    margin-bottom:1;
}

tr {
    display:block;
    text-indent:-2;
    margin-left:2;
}

tbody, tfoot {
    display:block;
    border-top: ⠒;
}

td + td::before, th + th::before {
		     content:" ⠒⠒ ";
		 }

caption {
    display:block;
    margin-bottom:1;
}

epigraph {
    margin-top:1;
    margin-bottom:1;
    margin-left:4;
    orphans:2;
}

/* Lists */

dl {
    display:block;
}

dt {
    display:inline;
}

dd {
    display:inline;
}

dt + dd{
    padding-left:1;
}

dd::after {
    display:block;
    white-space: pre-line;
    content: '\A';
}

list {
    margin-left: 2;
    text-indent: -2;
    margin-bottom: 1;
    counter-reset: list-item;
}

list list {
    margin-bottom: 0;
}

li {
    display:list-item;
}

list[type=ul], list list list[type=ul]{
    list-style-type: '⠠⠤';
}

list list[type=ul] {
    list-style-type: '⠐⠤';
}

list[type=ol] {
    list-style-type: decimal;
    /*  hier  downshifted  einsetzen  */
}

list[type=ol][enum="1"] {
    list-style-type: decimal;
}

list[type=ol][enum=A] {
    list-style-type: upper-latin;
}

list[type=ol][enum=I] {
    list-style-type: upper-roman;
}

list[type=ol][enum=a] {
    list-style-type: lower-latin;
}

list[type=ol][enum=i] {
    list-style-type: lower-roman;
}

br::before {
    white-space: pre-line;
    content: '\A';
}
