
@page {
	size: 28 28;
}

@page:right {
	@bottom-right {
		content: "      " counter(page);
	}
}

dtbook {
  hyphens: none;
}

h1 {
	display: block;
	text-align: left;
	margin-top: 1;
	border-bottom: ⠤;
	margin-bottom: 1;
}

p {
	display: block;
	text-align: left;
	text-indent: 2;
}


