@import "http://www.sbs.ch/pipeline/modules/braille/default.scss";

@page {
	size: 50 28;
}

table {
	
	@extend %table-reset;
	
	display: table;
	-obfl-table-col-spacing: 2;
	-obfl-preferred-empty-space: 0;
	
	th {
		border-bottom:⠒;
	}
	
	caption{
		display: block;
		margin-bottom: 1;
	}
}
