@page {
	size: 50 28;
}

table {
	display: table;
	-obfl-table-col-spacing: 2;
	-obfl-preferred-empty-space: 0;
}

th {
	border-bottom:⠒;
}

/* reset rules in default.scss */

td + td::before, th + th::before {
	content: none;
}
