
@page {
	size: 28 28;
	margin-left: 2;
	@left {
		content: -obfl-marker-indicator(pagenum, '⠄');
	}
}

@page:right {
	margin-bottom: 1;
	@bottom-left {
		content: string(print-page-slash, spread-start-except-last) string(print-page, spread-last);
		text-transform: print-page;
	}
	@bottom-center {
		content: string(running-footer);
	}
	@bottom-right {
		content: counter(page);
	}
}

dtbook {
	hyphens: none;
	display: block;
}

h1 {
	display: block;
	text-align: center;
	margin-top: 1;
	margin-bottom: 1;
	string-set: running-footer content();
}

p {
	display: block;
	text-align: left;
	text-indent: 2;
}

pagenum {
	display: none;
	string-set: print-page-slash content() '/', print-page content();
	-obfl-marker: pagenum;
}
