@namespace epub url(http://www.idpf.org/2007/ops);

@page {
	margin-left: 2;
	@left {
		content: -obfl-marker-indicator(pagenum, '⠄');
	}
}

h1 {
	-obfl-underline: none;
}

pagenum,
[epub|type='pagebreak'] {
	-obfl-marker: pagenum;
}
